{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/static/gumby.css' %}" />
    <script src="{% static '/static/js/libs/modernizr-2.6.2.min.js' %}"></script>
  </head>
  <body>
    {% include '_navigation.html' %}
    {% include '_messages.html' %}

    {% block content %}{% endblock %}
    <script src="{% static '/static/js/libs/jquery-2.0.2.min.js' %}"></script>
    <script gumby-touch="js/libs" src="{% static '/static/js/libs/gumby.js' %}"></script>
    <script src="{% static '/static/js/libs/ui/gumby.navbar.js' %}"></script>
    <script src="{% static '/static/js/libs/gumby.init.js' %}"></script>
    <script src="{% static '/static/js/plugins.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
  </body>
</html>
